.fotos
{
width: 1000px;
height: auto;
margin:20px auto 0;
overflow: hidden;

}

.fotos ul {
display: flex;
padding: 0;
width: 400%;

animation: slide 8s infinite alternate ease-in-out;

}

.fotos li {

list-style: none;}

.fotos img{
width: 1000px;

}
@keyframes slide {
0%{margin-left: 0;}
20% {margin-left: 0;}
25% {margin-left: -100%;}
45% {margin-left: -100%;}
50% {nargin-left: -200%;}
70% {margin-left: -200%;}
75% {margin-left: -300%;}
100% {margin-left: -300%;}
}
